
button {
    margin-top: 20px;
    padding: 8px 32px;
    vertical-align: middle;
    overflow: hidden;
    float: right;
}

button:hover {
    color: #23273a;
}

.start-button {
    background-color: red;
}

.stop-button {
    background-color: lime;
}

.id {
    margin-top: -12px;
    margin-bottom: .7em;
    color: #525658;
    font-size: 12pt;
}

.header {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-size: 18pt;

    color: #1f95f2;
}

.server {
    margin-bottom: 32px;
}