.navitem-container {
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 2px;
    cursor: pointer;
}

.navitem-container:hover {
    background-color: #23273a;
}

.navitem {
    color: white;
    text-decoration: none;
}

.bottom {
    bottom: 12px;
    position: absolute;
}

a {
    text-decoration: none;
}