@font-face { font-family: ProximaNova; src: url("../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf"); }
html, body, *, h1, h2, h3, h4, p, div, input { font-family: ProximaNova; }
body {
    background-color: white;
}

h1, h2, h3 { color: #1f95f2; }
ul { list-style-type: none; }
p { color: black; }
header {
    border-bottom: 1px solid #1f95f2;
}

.main {
    margin-left: 15%;
}

.header {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-size: 18pt;

    color: #1f95f2;
}

button {
    color: white;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    border-radius: 4px;
    background-color: #1f95f2;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: SFCompactDisplay; */
}

button:hover {
    color: #23273a;
}